---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=TEST_API_KEY&format=json&from=1479316791&limit=200&method=user.getrecenttracks&page=1&to=1479316791&user=TEST_USER
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "recenttracks": {
            "@attr": {
              "page": "1",
              "perPage": "1",
              "total": "0",
              "totalPages": "0",
              "user": "TEST_USER"
            },
            "track": []
          }
        }
  recorded_at: Tue, 15 Nov 2016 14:35:05 GMT
recorded_with: VCR 3.0.3
