---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=TEST_API_KEY&format=json&from=1479316791&limit=200&method=user.getrecenttracks&page=1&to=1479316791&user=TEST_USER
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {
          "recenttracks": {
            "@attr": {
              "page": "1",
              "perPage": "2",
              "total": "3",
              "totalPages": "2",
              "user": "TEST_USER"
            },
            "track": [
              {
                "artist": { "#text": "TEST_ARTIST_2" },
                "date": { "uts": "1_479_316_791" },
                "name": "TEST_TRACK_2"
              },
              {
                "artist": { "#text": "TEST_ARTIST_1" },
                "date": { "uts": "1_479_316_791" },
                "name": "TEST_TRACK_1"
              }
            ]
          }
        }
  recorded_at: Wed, 16 Nov 2016 15:23:00 GMT
recorded_with: VCR 3.0.3
